<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daily Report</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css"
    />
    <link rel="stylesheet" href="/css/logo.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/dailyReport.css" />
  </head>
  <body>
    <%- include("../../template/logo.ejs")%> <%-
    include("../../template/backlinks.ejs")%>
    <section class="dateSection">
      <div class="dateContainer">
        <div class="dateDiv">
          <input type="text" class="dateInput" />
        </div>
      </div>
    </section>
    <section class="reportSection">
      <div class="reportContainer">
        <div class="reportTable">
          <table border="1" cellspacing="0" class="reportDataTable">
            <tr class="stickyTr1">
              <td rowspan="2">ক্র.<br />নং</td>
              <td rowspan="2" class="productNameTd">পন্যের<br />নাম</td>
              <td colspan="3">পূর্বের স্টক</td>
              <td colspan="3">ক্রয়</td>
              <td rowspan="2">মোট স্টক</td>
              <td colspan="2">প্রদান</td>
              <td colspan="3">নতুন স্টক</td>
              <td colspan="3">বিক্রয়</td>
              <td rowspan="2">লাভ<br />(একক)</td>
              <td rowspan="2">মোট লাভ</td>
              <td rowspan="2">অবশিষ্ট<br />স্টক</td>
              <td colspan="2">ফেরত</td>
              <td colspan="3">নীট স্টক</td>
              <td rowspan="2">স্টক<br />ভ্যালু</td>
              <td rowspan="2">বাটন</td>
            </tr>
            <tr class="firstTr stickyTr2">
              <td>স্টোর</td>
              <td>ক্যান্টিন</td>
              <td>মোট</td>
              <td>দর<br />একক</td>
              <td>পরিমান</td>
              <td>টাকা</td>
              <td>স্টোর</td>
              <td>ক্যান্টিন</td>
              <td>স্টোর</td>
              <td>ক্যান্টিন</td>
              <td>মোট</td>
              <td>দর<br />একক</td>
              <td>পরিমান</td>
              <td>টাকা</td>
              <td>স্টোর</td>
              <td>ক্যান্টিন</td>
              <td>স্টোর</td>
              <td>ক্যান্টিন</td>
              <td>মোট</td>
            </tr>

            <% products.forEach((product,i,arr)=>{%>
            <tr class="dataRow">
              <td class="serialTd">
                <div class="serialDiv"><%= i+1%></div>
              </td>
              <td class="productNameTd">
                <div class="productNameDiv" prod-id="<%= product._id%>">
                  <%= product.productName%>
                </div>
              </td>
              <td class="prevKitchenStockTd">
                <div class="prevKitchenStockDiv">
                  <%= product.productStoreStock%>
                </div>
              </td>
              <td class="prevCanteenStockTd">
                <div class="prevCanteenStockDiv">
                  <%= product.productCanteenStock%>
                </div>
              </td>
              <td class="prevTotalStockTd">
                <div class="prevTotalStockDiv">
                  <%= product.productTotalStock%>
                </div>
              </td>
              <td class="perProductPurchasePriceTd">
                <div class="perProductPurchasePriceDiv">
                  <%= product.productPurchasePrice%>
                </div>
              </td>
              <td class="buyQuantityTd">
                <div class="buyQuantityDiv">
                  <input
                    type="text"
                    class="buyQuantityInput"
                    oninput="multipleInputHandler(this)"
                  />
                </div>
              </td>
              <td class="buyCostTd">
                <div class="buyCostDiv"></div>
              </td>
              <td class="totalStockTd">
                <div class="totalStockDiv"></div>
              </td>
              <td class="takenKitchenStockTd">
                <div class="takenKitchenStockDiv">
                  <input
                    type="text"
                    class="takenKitchenStockInput"
                    oninput="multipleInputHandler(this)"
                    value="0"
                  />
                </div>
              </td>
              <td class="takenCanteenStockTd">
                <div class="takenCanteenStockDiv">
                  <input
                    type="text"
                    class="takenCanteenStockInput"
                    oninput="multipleInputHandler(this)"
                    value="0"
                  />
                </div>
              </td>
              <td class="newKitchenStockTd">
                <div class="newKitchenStockDiv"></div>
              </td>
              <td class="newCanteenStockTd">
                <div class="newCanteenStockDiv"></div>
              </td>
              <td class="newTotalStockTd">
                <div class="newTotalStockDiv"></div>
              </td>
              <td class="perProductSellPriceTd">
                <div class="perProductSellPriceDiv">
                  <%= product.productSellingPrice%>
                </div>
              </td>
              <td class="sellQuantityTd">
                <div class="sellQuantityDiv">
                  <input
                    type="text"
                    class="sellQuantityInput"
                    oninput="multipleInputHandler(this)"
                  />
                </div>
              </td>
              <td class="sellCostTd">
                <div class="sellCostDiv"></div>
              </td>
              <td class="perProductProfitTd">
                <div class="perProductProfitDiv">
                  <%= product.productProfit%>
                </div>
              </td>
              <td class="totalProductProfitTd">
                <div class="totalProductProfitDiv"></div>
              </td>
              <td class="remainingStockTd">
                <div class="remainingStockDiv"></div>
              </td>
              <td class="returnKitchenStockTd">
                <div class="returnKitchenStockDiv">
                  <input
                    type="text"
                    class="returnKitchenStockInput"
                    oninput="multipleInputHandler(this)"
                    value="0"
                  />
                </div>
              </td>
              <td class="returnCanteenStockTd">
                <div class="returnCanteenStockDiv">
                  <input
                    type="text"
                    class="returnCanteenStockInput"
                    oninput="multipleInputHandler(this)"
                    value="0"
                  />
                </div>
              </td>
              <td class="nitKitchenStockTd">
                <div class="nitKitchenStockDiv"></div>
              </td>
              <td class="nitCanteenStockTd">
                <div class="nitCanteenStockDiv"></div>
              </td>
              <td class="nitTotalStockTd">
                <div class="nitTotalStockDiv"></div>
              </td>
              <td class="stockValueTd">
                <div class="stockValueDiv"></div>
              </td>
              <td class="btnContainerTd">
                <div class="btnContainerDiv">
                  <div class="btn deleteRowBtn" onclick="deleteRow(this)">
                    Delete
                  </div>
                </div>
              </td>
            </tr>
            <%});%>
          </table>
        </div>
        <div class="actionBtnsContainer">
          <div class="actionsBtnsDiv">
            <div class="btn saveReport" onclick="storeData()">সংরক্ষণ করুন</div>
          </div>
        </div>
      </div>
    </section>
    <%- include("../../template/footer.ejs")%>

    <!-- hidden items -->
    <div class="user" style="display: none" user-id="<%= user._id%>"></div>
    <select
      class="hiddenProductNameSelect"
      onchange="multipleSelectionHandler(this)"
      style="display: none"
    >
      <option value="">নির্বাচন করুন</option>
      <%products.forEach(product=>{%>
      <option value="<%= product.productName%>" prod-id="<%= product._id%>">
        <%= product.productName%>
      </option>
      <%});%>
    </select>

    <script src="https://cdn.jsdelivr.net/npm/he@1.2.0/he.min.js"></script>
    <script>
      let productsArr = JSON.parse(
        he.decode(`<%= JSON.stringify(products) %>`)
      );
    </script>
    <script src="/js/dailyReport.js"></script>
  </body>
</html>
