<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>সম্পদ সমূহ দেখুন</title>
    <link rel="stylesheet" href="/css/logo.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>
  <body>
    <%- include("../../template/logo.ejs")%> <%-
    include("../../template/backlinks.ejs")%> <%-
    include("../../template/dateWiseInfoTemp.ejs",{dateWiseInfo:assets,database:database})%>
    <%- include("../../template/footer.ejs")%>
    <script src="https://cdn.jsdelivr.net/npm/he@1.2.0/he.min.js"></script>
    <script>
      let assets = JSON.parse(he.decode(`<%= JSON.stringify(assets) %>`));
      console.log(assets);
    </script>
  </body>
</html>
